<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autoskola_v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminPitanje"></activity>
        <activity android:name=".EditiranjePitanja" />
        <activity android:name=".AdminBiranjeKategorije" />
        <activity android:name=".AdminIzbornik" />
        <activity
            android:name=".DetaljnoRezultati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaIspita"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProlaznostIspit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IspitRezultati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeorijaPropisiPrometniZnakovi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeorijaPitanja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VjezbePropisiPrometniZnakovi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VjezbeRezultati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VjezbePitanja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromjenaPodataka"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rezultati"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ispit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VjezbePrvaPomoc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VjezbePropisi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeorijaPrvaPomoc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeorijaPropisi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlavniIzbornik"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>